#root {
  margin: 0;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

/* fiche wanted */
.fiches-container {
  height: 560px !important;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fiche-wanted {
  height: auto;
  color: #eadbc8;
  background-color: #040d12;
  border-left: 2px solid #ebebeb;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.fiche-hakis {
  height: 200px;
  color: #eadbc8;
  background-color: #040d12;
  border-left: 2px solid #ebebeb;
  padding: 30px;
  text-align: center;
}

.nom-personnage {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.prime {
  font-size: 18px;
}

.photo-personnage {
  border: 2px solid #f6f4eb;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.texte-wanted {
  font-family: "Petrona", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: bold;
}
.text-hakis {
  font-size: 0.8em;
  width: 30vw;
  text-align: left ;
}

.job {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* equipages */
.cartes-container-equipage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80vw;
  margin: auto;
}

.carte-equipage {
  width: 20%;
  margin: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #040d12;
  color: #f6f4eb;
}

.carte-equipage h2 {
  font-size: 1.6rem;
  font-weight: bold;
}

.photo-equipage {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  margin: 10px auto;
}

.carte-equipage p {
  font-size: 0.9rem;
}

.carte-equipage h3 {
  font-size: 1rem;
}

.card{
  width: 20%;
  margin: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #040d12;
  color: #f6f4eb;
}

.sabres {
margin-top: 50px;
}

.card-fruit {
  height: 200px;
  font-size: 0.8em;
  width: 30vw;
}

.episodes {
height: 600px;
}

.video {
  margin-top: 120px;
}

.photo-equipeLuffy {
  margin-top: 40px;
}

.input {
  width: 40vw;
  height: 10vh;
}

.buttonInput {
  margin: 20px;
  height: 65px;
  width: 65px;
  color:#ebebeb;
  background: #040d12;
  border-radius: 5px;
}

.buttonInput:hover{
background-color: #888;
}
