@font-face {
  font-family: "Petrona";
  src: local("Petrona_Bold"),
    url("./assets/fonts/Petrona-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "DellaRespira";
  src: local("DellaRespir_Regular"),
    url("./assets/fonts/DellaRespira-Regular.ttf") format("truetype");
}

:root {
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

nav {
  width: 60vw;
  height: 40px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #d53633;
  background-size: auto 100%;
}

.LogoHome {
  height: 100px;
  margin-top: 10px;
}

.layout {
  padding-top: 10px;
  background-color: #d53633;
  box-shadow: 0 0.8rem 0.8rem -0.4rem rgba(0,0,0,.25);
  background-size: auto 100%;
}

body {
  font-family: "Petrona", system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ebebeb;
  margin: 0;
}

a {
  text-decoration: inherit;
}

.menu-item {
  color: white !important;
}
