@font-face {
  font-family: "Petrona";
  src: local("Petrona_Bold"),
    url("./assets/fonts/Petrona-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "DellaRespira";
  src: local("DellaRespir_Regular"),
    url("./assets/fonts/DellaRespira-Regular.ttf") format("truetype");
}

:root {
  -webkit-text-size-adjust: 100%;
}

nav {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #040d12;
}

.LogoHome {
  height: 100px;
  margin-top: 10px;
}

.layout {
  padding: 20px 80px;
  color: #f6f4eb !important;
}

body {
  font-family: "Petrona", system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #040d12;
}

a {
  text-decoration: inherit;
}
